app.yaml
**/.podops/**
credentials.json
*-credentials.json
google-credentials.json
*-google-credentials.json
master.key
podops.key
example/.gitignore
.po
_*

**/.assets/**
**/.build/**
inventory/
hack/*
**/data

.DS_Store
stuff.md
stuff_*.md
**/hack
**/_hack
**/build
**/public/**
main
svc
*.mp3
*.aax
*.png
coverage.txt
